/* Definición de la fuente Poppins alojada localmente */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400; /* Asocia el archivo Regular.ttf al peso 400 */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600; /* Asocia el archivo SemiBold.ttf al peso 600 */
    font-style: normal;
    font-display: swap;
}

/* Repite este bloque para cada peso y estilo de fuente que necesites (ej. bold, italic, etc.) */
/* ===============================
VARIABLES CSS
===============================*/
:root {
    --header-height: 3rem;
    --font-semi: 600;

    --first-color: #4070f4;
    --second-color: #0e2431;

    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;

    --mb1: 0.5rem;
    --mb2: 1rem;
    --mb3: 1.5rem;
    --mb4: 2rem;
    --mb5: 2.5rem;
    --mb6: 3rem;

    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;

    --body-bg-color: #ffffff;
    --text-color: var(--second-color);
    --header-bg-color: #ffffff;
    --nav-link-color: var(--second-color);
    --nav-menu-bg-color: #fff;
    --modal-text-color: #fff;
}

/* Dentro de la sección de .dark-mode */
body.dark-mode {
    --body-bg-color: #121212;
    --text-color: #ffffff;
    --header-bg-color: #121212;
    --nav-link-color: #ffffff;
    --nav-menu-bg-color: #121212;
    --modal-text-color: #ccc;
    --logo-color: #ffffff; /* Agrega esta línea para el color del logo */
    --footer-text-color: #ffffff; /* Agrega esta línea para el color del texto del footer */
}

/* Modifica el estilo del logo */
.nav-logo {
    color: var(--logo-color, var(--text-color));
}

/* Modifica el estilo del footer */
.footer {
    background-color: var(--second-color);
    color: var(--footer-text-color);
    /* El resto del código del footer... */
}

/* Unifica la lógica del switch de modo oscuro */
.switch.dark-mode {
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.switch.dark-mode::before {
    transform: translateX(29px);
    background-color: #ffffff;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* ===============================
BASE
===============================*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-bg-color);
    transition: background-color 0.3s, color 0.3s;
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ===============================
CLASES CSS REUTILIZABLES
===============================*/
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb2);
    margin-bottom: var(--mb4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb2);
    margin-right: var(--mb2);
}

/* ===============================
LAYOUT
===============================*/
.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--header-bg-color);
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    transition: background-color 0.3s;
}

/* ===============================
NAVEGACIÓN
===============================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

.nav-item {
    margin-bottom: var(--mb4);
}
.nav-link {
    position: relative;
    color: var(--nav-link-color);
    transition: color 0.3s;
}
.nav-link:hover {
    position: relative;
}
.nav-link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav-logo {
    color: var(--text-color);
}
.nav-toggle {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.25rem;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/* ===============================
SELECTOR DE IDIOMA
===============================*/
.lang {
    text-align: center;
    padding: 1rem 0;
}

.lang-item {
    color: var(--text-color);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.lang-item:hover {
    color: var(--first-color);
}

/* ===============================
DARK MODE SWITCH
===============================*/
.switch {
    width: 60px;
    height: 30px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 100px;
    border: 2px solid var(--second-color);
    background-color: var(--second-color);
    cursor: pointer;
    transition: all 0.3s;
}

.switch i {
    font-size: 1.2rem;
    color: #fdc21c;
}

.switch::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    left: 2px;
    right: unset;
    transition: all 0.3s;
}

.switch.dark-mode {
    background-color: var(--first-color);
    border-color: var(--first-color);
}

.switch.dark-mode::before {
    transform: translateX(29px);
    background-color: #ffffff;
}

/* ===============================
PÁGINA PRINCIPAL
===============================*/
.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}

.home-data {
    align-self: center;
}
.home-title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb5);
    color: var(--text-color);
    transition: color 0.3s;
}
.home-title-color {
    color: var(--first-color);
}
.home-social {
    display: flex;
    flex-direction: column;
}
.home-social-icon {
    width: max-content;
    margin-bottom: var(--mb2);
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.3s;
}

.home-social-icon:hover {
    color: var(--first-color);
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #ffffff;
    padding: 0.75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

.button:hover {
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===============================
SOBRE MÍ
===============================*/

.about-container {
    row-gap: 2rem;
    text-align: center;
}
.about-subtitle {
    text-align: center;
    margin-bottom: var(--mb2);
    color: var(--text-color);
    transition: color 0.3s;
}

/* ===============================
HABILIDADES
===============================*/

.skills-container {
    row-gap: 2rem;
    text-align: center;
}
.skills-subtitle {
    margin-bottom: var(--mb2);
    color: var(--text-color);
    transition: color 0.3s;
}
.skills-text {
    margin-bottom: var(--mb4);
    color: var(--text-color);
    transition: color 0.3s;
}
.skills-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb4);
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    background-color: var(--body-bg-color);
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}
body.dark-mode .skills-data {
    box-shadow: 0 4px 25px rgba(255, 255, 255, 0.15);
}

.skills-icon {
    font-size: 2rem;
    margin-right: var(--mb2);
    color: var(--first-color);
}

.skills-names {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.skills-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-back);
}

.skills-html {
    width: 95%;
}
.skills-css {
    width: 85%;
}
.skills-js {
    width: 65%;
}
.skills-ux {
    width: 85%;
}
.skills-img {
    border-radius: 0.5rem;
}

/* ===============================
PROYECTOS
===============================*/

.work {
    text-align: center;
}
.work-container {
    row-gap: 2rem;
}
.work-img {
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: box-shadow 0.3s;
}
.work-link {
    color: var(--first-color);
    text-decoration: none;
    font-weight: var(--font-semi);
}
body.dark-mode .work-img {
    box-shadow: 0 4px 25px rgba(255, 255, 255, 0.15);
}
.work-img img {
    transition: 1s;
    cursor: pointer;
}
.work-img img:hover {
    transform: scale(1.1);
}
.work-info {
    margin-top: 1rem;
}

/* ===============================
MODAL DE PROYECTOS
===============================*/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.modal-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
}

.modal-content {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
}

#caption {
    color: var(--modal-text-color);
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    transition: color 0.3s;
}

/* Estilo para el enlace dentro del modal */
#caption a.modal-link {
    color: var(--first-color);
    font-weight: var(--font-semi);
    text-decoration: none;
}

#caption a.modal-link:hover {
    text-decoration: underline;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: var(--modal-text-color);
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}
.close:hover {
    color: #ccc;
}

/* ===============================
CONTACTO
===============================*/
.contact {
    text-align: center;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2rem;
}

.contact-form {
    text-align: center;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-input,
.contact-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.contact-input {
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--text-color);
    outline: none;
    margin-bottom: var(--mb4);
    background-color: var(--body-bg-color);
    color: var(--text-color);
}
body.dark-mode .contact-email a {
    color: #fff;
    text-decoration: underline;
}
body.dark-mode .contact-input {
    border: 1px solid #fff;
    color: #fff;
}
body.dark-mode .contact-input::placeholder {
    color: #ccc;
}
body.dark-mode .contact-input:focus {
    border-color: var(--first-color);
}

.contact-button {
    display: block;
    border: none;
    outline: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-left: auto;
}

.contact-message {
  color: var(--first-color); /* Color primario para el mensaje de éxito */
    font-weight: var(--font-semi);
    text-align: center;
    margin-top: -10px;
    opacity: 0;
  transition: opacity 0.5s ease-in-out; /* Transición para un efecto suave */
}

/* Clase para mostrar el mensaje */
.contact-message.show {
    opacity: 1;
}
/* Clase para ocultar visualmente elementos */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Botón 'Back to Top' */
.scroll-up {
    position: fixed;
    right: 1.5rem;
    bottom: -20%;
    background-color: var(--first-color);
    border-radius: 0.4rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.3s, transform 0.3s;
    z-index: var(--z-tooltip);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.scroll-up:hover {
    transform: translateY(-5px);
}

.scroll-up-icon {
    font-size: 1.5rem;
    color: #fff;
}

/* Mostrar el botón */
.show-scroll {
    bottom: 2rem;
}


/* ===============================
FOOTER
===============================*/

.footer {
    background-color: var(--second-color);
    color: #ffffff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    transition: background-color 0.3s, color 0.3s;
}

.footer-title {
    font-size: 2rem;
    margin-bottom: var(--mb4);
}

.footer-social {
    margin-bottom: var(--mb4);
}

.footer-icon {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0 var(--mb2);
    transition: color 0.3s;
}

.footer p {
    margin: 5px 0;
}

.footer span {
    display: block;
    font-size: 0.9rem;
    margin-top: 3px;
}

/* ===============================
MEDIA QUERIES
===============================*/

/* ----- MÓVILES (<1024px) → Menú hamburguesa ----- */
@media screen and (max-width: 1023px) {
    .nav-menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--nav-menu-bg-color);
        transition: 0.5s;
    }
    .show {
        right: 0;
    }
}

/* ----- TABLETS (769px a 1024px) → Ajuste del grid ----- */
@media screen and (min-width: 769px) and (max-width: 1023px) {
    .nav-list {
        justify-content: center;
        gap: 1.5rem;
    }
    .work-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

/* ----- ESCRITORIO (>= 1024px) → Menú completo y diseño de página ----- */
@media screen and (min-width: 1024px) {
    body {
        margin: 0;
    }
    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title {
        margin-bottom: var(--mb6);
    }
    .section-title::after {
        width: 80px;
        top: 3rem;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
    }

    .nav-list {
        display: flex;
        padding-top: 0;
    }
    .nav-item {
        margin-left: var(--mb4);
        margin-bottom: 0;
    }
    .nav-toggle {
        display: none;
    }
    .nav-link {
        color: var(--nav-link-color);
    }

    .home {
        height: 100vh;
    }
    .home-data {
        align-self: flex-end;
    }

    .home-social {
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }

    .home-social-icon {
        margin-bottom: 0;
        margin-right: var(--mb4);
    }
    .home-img {
        width: 457px;
        height: 475px;
        bottom: 15%;
    }

    .about-container,
    .skills-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;
    }

    .about-img img {
        width: 300px;
    }

    .work-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .contact-form {
        width: 460px;
    }
    .contact-container {
        justify-items: center;
    }
}

/* ----- Desktop y mayores (>= 1024px) → Ajustes generales ----- */
@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
    .home-img {
        right: 10%;
    }
}
